/* ProfileCard.module.css */
.card {
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* padding: 16px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 17;
    max-width: 100%;
    margin: 16px;
    transition: transform 0.2s;
    height: 220px;
   
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .cardImage {
   
   
    border-radius: 8px 8px 0 0;
  }
  
  .cardContent {
    padding: 16px;
    width: 50%;
  }
  
  .cardTitle {
    font-size: 1.5rem;
   
    color: #333;
  }
  
  .cardDetails {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 2px;
  }
  
  .cardDescription {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  .verifiedBadge {
    display: flex;
    align-items: center;
  
  }
  
  .verifiedBadge svg {
    margin-right: 8px;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 30px 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .verifiedBadgeAndHeading{
    display: flex;
   align-items: center;
   gap: 5px;
  }



  .cardInfo{
    display: flex;
    justify-content: space-between;
   
  }
.cardInfo > p{
    color: #72727d;
}
  .cardSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;

  }

  .cardSideBar>p{
    color: #72727d;
  }


  .cardOnline{
    display: flex;
    justify-content: space-between;
  }


  .cardOnlineStatus{
    display: flex;
    gap: 5px;
  }